<div class="home_container">
  <app-card
    gameCover = "../../../../assets/ace-combat.png"
    gameLabel = "DIGITAL"
		gameType = " DIGITAL | PS4"
		gamePrice = " R$ 129,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP0700-CUSA05636_00-AC7STANDARDED000"
  >
  </app-card>
  <app-card
		gameCover="../../../../assets/diablo.png"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
    gameSrc = "https://store.playstation.com/pt-br/concept/231761"
	>
	</app-card>
	<app-card
		gameCover="../../../../assets/eafc24.jpeg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP0006-PPSA13393_00-24STANDARDBUNDLE"
		>
	</app-card>
	<app-card
		gameCover="../../../../assets/last-us.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP9000-CUSA00552_00-THELASTOFUS00000"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/godofwar.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP9000-CUSA34384_00-GOWRAGNAROK00000"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/gran-turismo.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP9000-CUSA03220_00-GTSPORTS00000000"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/gta.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP1004-PPSA03420_00-GTAVCROSSGENBUND"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/rdr2.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP1004-CUSA03041_00-RDR2ULTMEDTNBUND"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/rocket-league.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP2002-CUSA01163_00-ROCKETLEAGUENA01"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/the-hitcher.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP4497-PPSA10407_00-00000000000000N2"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/tony.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP0002-CUSA17922_00-TH12RSTANDARD001"
	>
	</app-card>
  <app-card
		gameCover="../../../../assets/poe.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
    gameSrc = "https://store.playstation.com/pt-br/product/UP4781-CUSA11924_00-GGGPS4GAMEFULL01"
	>
	</app-card>
</div>
